<h1>Welcome to Tinder for Food!</h1>



<%= image_tag("https://raw.githubusercontent.com/amarcher/tinder_for_food/master/IMG.JPG", size: "500x500", :alt => "rss feed") %>


<p> <%= link_to "Start!", :controller => :pages, :action => :view %> </p>