<div class="center jumbotron">
  <h3>These are the items you liked</h3>
    <%= @items.each do |hash| %>
      <p> <%= image_tag( hash[:item].pic_url, size:"300x300")  %>
      <%= hash[:restaurant].name %>
      <p>
    <% end %>
</div>