<div class="center jumbotron">
  <h3>These are the items you liked</h3>
    <% @items.each do |hash| %>
      <div style="display:block; clear:both; margin: 20px 0px;">
        <%= image_tag( hash[:item].pic_url, size:"300x300", style: "display:inline block;")  %>
        <div style="display:inline block;">
          <b><a href='<%=hash[:restaurant].yelp_url %>'><%= hash[:restaurant].name %></a></b>
          <%= hash[:restaurant].location %>
        </div>
      </div>
    <% end %>
</div>