<div class="center jumbotron">
  <h1>No more images! </h1>
    <br><br>
    <p> 
      <%= link_to "Start!", {:controller => :pages, :action => :start}, class: "btn btn-lg btn-primary" %> 
    </p>
</div>